.env
venv/
__pycache__/
*.pyc
.DS_Store
ingestion/documents/policy_documents/
.history

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform*
*.pem

dbt_instructions_setup.txt
.python-version
main.py
pyproject.toml
uv.lock

.gitignore

.vscode
.venv
logs

package-lock.yml